asgiref==3.5.2
attrs==22.1.0
autopep8==1.7.0
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.1
idna==3.3
iniconfig==1.1.1
packaging==21.3
Pillow==9.2.0
pluggy==1.0.0
progress==1.6
progress-bar==8
psycopg2-binary==2.9.3
py==1.11.0
pycodestyle==2.9.1
pyodbc==4.0.32
pyparsing==3.0.9
pytest==7.1.2
requests==2.27.1
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
tqdm==4.64.0
urllib3==1.26.9
